/* game page */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.player-side {
    Background: #F15946;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    transition: all 0.07s ease;
}

.computer-side {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    Background: #53B3CB;
    transition: all 0.1s ease;
}

/* .player-side.winner { */
/*     Background: #F47867; */
/*     transition: all 0.1s ease; */
/* } */


button {
    margin: 0 1em 1em 1em;
    height: 2.5em;
    width: 7em;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: larger;
    Background: #F9C846;
    color: #00171F;
    border: 0px;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.1);
}

.player-choice {
    box-shadow: 0 0 0 5px #E3EDBF;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0vh;
}

footer {
    padding: 2em 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    width: 50vw;
}

.computer-side footer {
    padding-left: 2em ;
}

.player-side footer {
    align-self: flex-end;
    justify-content: flex-end;
    padding-right: 2em;
}

.score {
    margin: 0 2em 0 2em;
    font-weight: 900;
}

#player-footer .score {
    margin-left: 4em;
}

.popup {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.7);
    text-align: center;
    position: absolute;
    z-index: 1;
}

.show {
    visibility: visible;
}

.popup div {
    height: 40vh;
    width: 40vw;
    box-shadow: 0 0 0 4px #E3EDBF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    Background: #34344A;
}

#msg {
    color: #E3EDBF;
    padding-bottom: 2em;
    font-size: 5vh;
}
#newgame {
    opacity: 100%;
    align-self: center;
    margin: 2em 0;
    Background: #FFE74C;
    cursor: pointer;
}

#round {
    position: absolute;
    top: 0;
    left: 40vw;
    width: 20vw;
    height: 10vh;
    Background: #241715;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #E3EDBF;
    z-index: 3;
}

#round-number {
    font-family: 'Montserrat', sans-serif;
    color: #E3EDBF;
    font-size: xx-large;
    font-weight: bold;
}

#line {
    width: 4px;
    height: 100vh;
    Background: #E3EDBF;
    position: absolute;
    top: 0;
    right: 50vw
    z-index: 2;
}

img {
    transform: scaleX(-1);
    width: 40vw;
    height: auto;
}

.computer-hand img {
    padding-bottom: 30vh;
    margin-left: -4vw;
    animation-name: slidecomputer;
    animation-duration: 1s;
}

.player-hand {
    position: absolute;
    top: 20vh;
    right: 0vw;
    width: 36vw;
    overflow: hidden;
}

.player-hand img {
    animation-name: slideplayer;
    animation-duration: 1s;
    
}

@keyframes slideplayer {
    from {
	margin-left: 100%;
    }
    to {
	margin-left: 0%;
    }
}


@keyframes slidecomputer {
    from {
	margin-left: -100%;
    }
    to {
	margin-left: -4vw;
    }
}

.clicked {
    box-shadow: 0 0 0 3px #E3EDBF;
}

button:focus {
    border: none;
    outline: 0;
}

#stats {
    color: #E3EDBF;
}

li {
    font-family:'Noto Sans JP', sans-serif;
    font-size: large;
    padding: 0.2em 0;
}

ul {
    padding-top: 3em;
}
