/* home page */

html {
    background-size: cover;
    background: #00171F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serrif;
    color: #E3EDBF;
    font-size: small;
}

#start-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    Background: #FFB400;
    padding: 1em 2em;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: xx-large;
    color: #25262C;
    border-radius: 20px;
    border: 0px;
    margin-bottom: 1em;
}

button:hover {
    transform: scale(1.1);
}

button:focus {
    border: none;
    outline: 0;
}

p {
    font-weight: 900;
}
